body{
    background-image: url('images/Login Sign Up Background.png');
    font-family: 'Lato', sans-serif;
}

header{
    font-size: 48px; 
    line-height: 68px; 
    font-weight: 700; 
    color: #171A1FFF; 
    text-align:center;
}
.login-container{
    display:flex;
    
}

h2{
    text-align:center;
  font-size: 32px; 
  line-height: 48px; 
  font-weight: 700; 
  color: #171A1FFF; 

}
.login-box {
    max-width:700px;
    margin: 45px auto;
    background: white;
    border-radius: 8px;
    box-shadow:  0px 17px 35px #bbbdc0, 0px 0px 2px #171a1f;
    padding: 30px;
}


input[type="text"], input[type="password"] {
    width: 483px; 
    height: 52px; 
    padding-left: 52px; 
    padding-right: 20px; 
    font-family: Lato; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 400; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 12px; /* border-xl */
    border-width: 0px; 
    outline: none;
    display:flex;
}
.input-password{
    margin-top: 20px;
}

label{
    font-size:24px;
}


input[type="submit"] {
    width: 483px; 
    height: 52px; 
    padding: 0 20px; 
    align-items: center; 
    justify-content: center; 
    font-family: Lato; 
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #379AE6FF; /* info-500 */
    opacity: 1; 
    border: none; 
    border-radius: 12px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h3, h4 {
    text-align: center;
    font-size: 24px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #171A1FFF;
}

a{
    color: #379AE6FF;
}

.social-media-login{
    display:flex;
    justify-content:space-evenly;
    height: 52px; 
}